<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hlf.app" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>蓝牙</name>
    <description>
        蓝色的牙
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Ya Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
