.hide {
    display: none;
}

.title {
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    font-size: 16px;
    color: #00A5E3;
    -webkit-box-sizing: border-box;
    background-color: #f8f9fa;
}